In [1]:
#Import the required packages
import pandas as pd
import math as m
from sklearn.metrics import mean_squared_error

In [2]:
#Define the root mean squared(RMS) function
def rms(y_actual,y_predicted):
    rms = m.sqrt(mean_squared_error(y_actual, y_predicted))
    return rms

def rmsyearcalc(col_list, thatyear, data2017):  
    rmsthatyear = rms(data2017, thatyear)
    col_list.append(rmsthatyear)
    
def rmscalc(col_list, data2013, data2014, data2015, data2016, data2017):
    rmsyearcalc(col_list, data2013, data2017)
    rmsyearcalc(col_list, data2014, data2017)
    rmsyearcalc(col_list, data2015, data2017)
    rmsyearcalc(col_list, data2016, data2017)

In [3]:
#Load the trend data
df = pd.read_csv('data/trends1.csv')

In [70]:
#Split dataframe based on year
d13, d14, d15, d16, d17 = df[1:53], df[53:105], df[105:157], df[157:209], df[209:]

#Create lists required
Year = ["12-13", "13-14", "14-15", "15-16"]
col1 = []
col2 = []
col3 = []

#Calculate root mean squared(RMS) between every year with 2017 to see change in demand
rmscalc(col1, d13['Top 1'], d14['Top 1'], d15['Top 1'], d16['Top 1'], d17['Top 1'])    
rmscalc(col2, d13['Top 2'], d14['Top 2'], d15['Top 2'], d16['Top 2'], d17['Top 2'])    
rmscalc(col3, d13['Top 3'], d14['Top 3'], d15['Top 3'], d16['Top 3'], d17['Top 3'])    

#Display as a dataframe
d = {'RMS between **-** and 16-17' : Year, 'Top 1' : col1 , 'Top 2' : col2, 'Top 3' : col3}
rmsX = pd.DataFrame(data=d)
rmsX.set_index('RMS between **-** and 16-17')

                                 Top 1      Top 2      Top 3
RMS between **-** and 16-17
12-13                        16.124515  57.797225  18.271984
13-14                        16.113181  55.175420  13.505697
14-15                        14.026075  51.124847   9.494938
15-16                         4.867474  24.955345   4.267498